<div class="container">
    <h1>Perfil</h1>
    <div>
        <form name="cadastroFun" class="was-validated">
            <fieldset disabled>
            <label>Nome</label>
            <input name="nome" type="text" class="form-control" placeholder="Nome do cliente" [(ngModel)]="nome" required>
            </fieldset>

            <fieldset disabled>
            <label>CPF/CNPJ</label>
            <input name="cpf_cnpj" type="text" id="cpf_cnpj" class="form-control" minlength="11" maxlength="18"  mask="000.000.000-00||00.000.000/0000-00" placeholder="000.000.000-00" required>
            </fieldset>

            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="exemplo@exemplo.com.br" [(ngModel)]="email" required autocomplete="email">

            <label>Telefone</label>
            <input  type="tel" name="telefone" id="telefone" class="form-control" placeholder="(00) 0000-0000" mask="(00) 0000-0000||(00) 00000-0000" [(ngModel)]="telefone" required>

            <fieldset disabled>
            <label>Login/Usuário</label>
            <input type="text" name="user" id="user" class="form-control" placeholder="exemplo1234" [(ngModel)]="usuario" required autocomplete="username">
            </fieldset>

            <label for="funcoes">Funções</label>
            <select name="funcoes" id="funcoes" required [(ngModel)]="funcaoFun">
                <option value="">Selecione a função do funcionario</option>
                <option *ngFor="let funcao of funcoes">{{ funcao }}</option>
            </select>

            <label for="password">Alterar senha?</label>
            <input name="senha" type="password" name="password" id="password" minlength="4" class="form-control" placeholder="Entre com sua senha" required autocomplete="current-password" [(ngModel)]="password">

            <label for="confirm_password">Confirme a nova senha</label>
            <input name="confirm_senha" type="password" name="confirm_password" id="confirm_password" minlength="4" class="form-control" placeholder="Entre com sua senha" required autocomplete="current-password" [(ngModel)]="confirmPassword">


            <button class="btn btn-outline-dark" (click)="verificarSenha()" [disabled]="password != confirmPassword">Alterar</button>
        </form>
    </div>
</div>


