<body>
<div class="container">
    <div id="head">
        Para continuar é necessario concordar com o termo.  
    </div>

<div class="pdf">
    <iframe class="" src="../assets/contrato.pdf" width="100%" height="750" title="Contrato" frameborder="1" scrolling="auto"></iframe>
    <br>
    
    </div>
    <div class="form-group">
        <p-toggleButton [(ngModel)]="checkConcordo" id="concordo" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
    <label for="concordo">Li e concordo com o termo</label>
    <button pButton pRipple type="button" id="cadastro" label="Continuar" class="p-button-rounded button-cadastro"[disabled]="checkConcordo == false"></button>
    </div>
</div>
</body>