#head{
    background-color: #23272b;
    width: 100%;
    padding: 2%;
    color: white;
    text-align: center;
}

.btn{
width: 100%;
margin-top: 1%;
height: 50px;
}

label{
    font-weight: bold;
    margin-left: 1%;
}