select{
    border: none;
    border-radius: 0;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal;
    color: #353a40;
    border-radius: 20px;
    width: 40%;
    padding-left: 5%;
    border: 1px solid #353a40;
}
.table{
    margin-top: 2%;
}