<div class="p-grid p-fluid">
    <h1>Novas solicitações</h1>
    <table class="table table-hover">
        <thead class="cabeçalho">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Data Solic</th>
            <th scope="col">Cliente</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of listaOs">
            <td scope="row">{{p.id}}</td>
            <td>{{ p.dataEmissao}}</td>
            <td>{{p.cliente.nome}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.status}}</td>
            <td>
              <button pButton pRipple type="button" label="Aceitar" (click)="openModal(template)" class="p-button-rounded"></button>

            </td>
          </tr>
                   
        </tbody>
      </table>
    </div>

    <!-- Template da modal -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Aceitar chamado</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="funcionarios">Funcionario</label>
        <select name="funcionarios" id="funcionarios" on-change="atribuirServico(a.value)" #a>
          <option value="">Selecione o funcionario</option>
          <option *ngFor="let p of listaFuncionario" value="{{p}}">{{p.nome}}</option>
        </select>

        <label for="servico">Serviço</label>
        <select name="servico" id="servico" on-change="atribuirServico(a.value)" #a>
          <option value="">Selecione o serviço</option>
          <option *ngFor="let p of listaServico" value="{{p}}">{{p.descricao}}</option>
        </select>

        <button pButton pRipple type="button" label="Salvar" (click) = "atualizarHitorico()" class="p-button-rounded"(click)="modalRef.hide()"></button>
      </div>
    </ng-template>