<div class="container">
    <h1>Novas solicitações</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Data Solic</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">001</th>
            <td>01/10/2020</td>
            <td>Aberto</td>
            <td>
                <button class="btn btn-outline-dark">Aceitar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">002</th>
            <td>02/10/2020</td>
            <td>Aberto</td>
            <td>
                <button class="btn btn-outline-dark">Aceitar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">003</th>
            <td>03/10/2020</td>
            <td>Aberto</td>
            <td>
                <button class="btn btn-outline-dark">Aceitar</button>
            </td>
          </tr>
          <tr>
            <th scope="row">004</th>
            <td>03/10/2020</td>
            <td>Aberto</td>
            <td>
                <button class="btn btn-outline-dark">Aceitar</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
