<div class="p-grid p-fluid">
    <form action="" id="equipamentos"  class="was-validated">
        <h1>Cadastro de novas salas</h1>
            <div class="cadastro">
    
                <span class="p-float-label">
                    <input name="equipamentos" type="text" minlength="3" id="equipamento" pInputText [(ngModel)]="sala" required> 
                    <label for="inputtext">Escreva o nome da nova sala</label>
                </span>
                <button pButton pRipple type="button" label="Cadastrar" class="p-button-rounded"></button>
            </div>
        </form>
</div>
