<div class="container">
    <h1>Cadastro de novas salas/Local</h1>
    <form action="">
        <div class="was-validated">
            <label for="sala">Sala/local</label>
            <input type="text" id="sala" class="form-control" placeholder="Digite o nome da nova sala/Local" minlength="3" [(ngModel)]="sala" required>
            <div class="invalid-feedback">
                É necessário digitar o nome da sala com ao menos 3 caracteres. 
            </div>
        </div>
        <button class="btn btn-outline-dark" [disabled]="sala.length <= 3">Cadastrar</button>
    </form>
</div>
