<div class="p-grid p-fluid">
<h1>Historico de solicitações</h1>
<table class="table table-hover">
    <thead class="cabeçalho">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Código O.S.</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Funcionario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of lista">
        <td scope="row">{{p.id}}</td>
        <td>{{p.ordemServico.id}}</td>
        <td>{{p.data}}</td>
        <td>{{p.status}}</td>
        <td>{{p.funcionario.nome}}</td>

      </tr>
    </tbody>
  </table>
</div>


