
.table{
    margin-top: 5%;
}

.container{
    margin-left: 25%;
    padding-right: 180px;
}

.cabeçalho{
    background-color: hsla(210, 100%, 45%, 1);
    color: white;
    text-align: center;
}

td{
    border-bottom: 1px solid #ADD8E6;
    padding-top: 30px;
    text-align: center;
}


h1{
    color: hsla(210, 100%, 45%, 1);
    text-align: center;
    padding-top: 5%;
}

