
.p-button{
    width: 100%;
    margin-top: 5%;
    font-size: 1.3em;
    background-color: hsla(210, 100%, 45%, 1);
    color: white;
}
.p-button:hover{
    background-color: #008000;
    transition-duration: 0.8s;
    border: 1px solid  #008000;
}

.cadastro{
    margin-top: 5%;
}

input{
    width: 100%;
    border: none;
    border-bottom:  1px solid  #cecbcb;
    height: 50px;
}

h1{
    color:  hsla(210, 100%, 45%, 1);
    text-align: center;
}