<div class="container">
    <h1>Perfil</h1>
    <div>
        <fieldset disabled>
            <label>Nome</label>
            <input type="text" class="form-control">
        </fieldset>
        <fieldset disabled>
            <label>CPF/CNPJ</label>
            <input type="text" class="form-control"  mask="000.000.000-00||00.000.000/0000-00">
        </fieldset>

            <label>Email</label>
            <input type="email" class="form-control">


            <label>Telefone</label>
            <input type="tel" class="form-control">

        <fieldset disabled>
            <label>Login/Usuário</label>
            <input type="text" class="form-control">
        </fieldset>

            <label>Alterar senha?</label>
            <input type="password" class="form-control" placeholder="Deseja alterar sua senha? digite a nova aqui">

            <label>Confirme sua nova senha</label>
            <input type="password" class="form-control" placeholder="Confirme a nova senha">

            <button class="btn btn-outline-dark">Alterar</button>

    </div>
</div>
