/* Formatações gerais */
a{
  text-decoration: none;
}

*{
  padding: 0;
  margin: 0;
}

/*Formatação geral do Menu*/

#menu {
  z-index: 1;
  position: fixed;
  width: 13%;
  min-width: 120px;
  height: 100%;
  min-height: 100%;
  background-color: hsla(234, 57%, 47%, 1);
  background-image: linear-gradient(0deg, hsla(234, 57%, 47%, 1) 0%, hsla(210, 100%, 45%, 1) 100%);
  
}

/*Formatação do cabeçalho (titulo) do Menu*/
#menu header {
  background-color:hsla(210, 100%, 45%, 1);
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#menu header a {
  color: #fff;
  display: block;

}

#menu header a:hover {
  color: #fff;
}
/*Formatação geral dos links do Menu*/

#menu .nav a{
  display: inline-block;
  width: 100%;
  min-width: 100px;
  color: #fff;
  font-size: 1.3em;
  padding: 10% 20%;
  text-align: justify;
}

#menu .nav a:hover{
  background: hsla(234, 57%, 47%, 1);
  color: #fff;
}

.active{
  background-color: none;
  border-left: 5px solid #fff ;
}

/*Formatação geral das listas do Menu*/

#menu li.menus{
  border-bottom: 1px solid #455A64;
  width: 100%;
  min-width: 100px;
}

#menu  li:hover.menus{
  background-color: none;
  border-left: 5px solid #fff;
  
}

li#cadastro {
  width: 100%;
  min-width: 100px;
  border-bottom: 1px solid #455A64;
}

li:hover#cadastro {
  background-color: none;
}

/*Configurando o submenu*/
.nav li:hover .submenu {
  display: block;
  max-height: 400px;
} 

.submenu a {
  background-color:hsla(210, 100%, 45%, 1);
}

.submenu a:hover {
  background-color: #464467;
  border-left: 5px solid #fff;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}


/* Formatação do nome de usuario logado */

.NomeUsuario{
  margin-top: 140%;
  color: #fff;
  width: 100%;
  margin-left: 15%;
  font-size: 30px;

}

.p-button{
  font-size: 20px;
  display: block;
}

/*Formatação geral dos conteudos ao lado do menu*/

#conteudo{
  margin-left: 20%;
  padding-top: 5%;
  width: 70%;
  height: 100%;
}


