
<body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 login-section-wrapper">
            <div class="login-wrapper my-auto">
              <h1 class="login-title">Bem vindo</h1>
              <form class="was-validated" name="cadastroCliente">
                <div class="form-group">
                  <label for="user">Nome</label>
                  <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome completo" [(ngModel)]="nome" required>

                </div>
                <div class="form-group">
                  <label for="">CPF/CNPJ</label>
                  <input type="text" id="cpf_cnpj" class="form-control" minlength="11" maxlength="18"  mask="000.000.000-00||00.000.000/0000-00" placeholder="000.000.000-00" required>

                </div>
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="exemplo@exemplo.com.br" [(ngModel)]="email" required autocomplete="email">

                </div>
                <div class="form-group">
                  <label for="telefone">Telefone</label>
                  <input type="tel" name="notelefoneme" id="telefone" class="form-control" placeholder="(00) 0000-0000" mask="(00) 0000-0000||(00) 00000-0000" [(ngModel)]="telefone" required >

                </div>
                <div class="form-group">
                  <label for="user">Login/Usuario</label>
                  <input type="text" name="user" id="user" class="form-control" placeholder="exemplo1234" [(ngModel)]="usuario" required autocomplete="username">

                </div>

                <div class="form-group mb-4">
                  <label for="password">Senha</label>
                  <input type="password" name="password" id="password" minlength="4" class="form-control" placeholder="Entre com sua senha" required autocomplete="current-password" [(ngModel)]="password">

                  <label for="confirm_password">Confirme a senha</label>
                  <input type="password" name="confirm_password" id="confirm_password" minlength="4" class="form-control" placeholder="Entre com sua senha" required autocomplete="current-password" [(ngModel)]="confirm_password">
                  <div class="errorSenha"> 
                    {{ erroSenhaDiferente }}
                  </div>    
                
                </div>
                <button name="Cadastrar" id="cadastrar" class="btn login-btn" (click)="verificarSenha()" [disabled]="password != confirm_password">Cadastrar</button>
                <button name="login" id="login" class="btn cadastro-btn" style="margin-left: 100px;" >Login</button>
              </form>
            </div>
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="assets/fundoLogin.png" alt="login image" class="login-img">
          </div>
        </div>
      </div>
    </main>
  </body>
  

