<div class="p-grid p-fluid">
    <h1>Fazer uma nova solicitação</h1>

    <form class="was-validated">
        <div>
            <div class="inputs">
                <label for="servico">Selecione o tipo de serviço</label>
                <Select name="servico"  id="servico" required>
                    <option value="" >Selecione o tipo de serviço a ser executado</option>
                    <option value="{{ i }}" *ngFor="let tipo of tipos; let i = index">{{ tipo }}</option>
                </Select>

            </div>

            <div class="inputs">
                <label for="equipamento">Equipamento</label>
                <select name="equipamento"  id="equipamento" required>
                    <option value="">Selecione em qual equipamento deve ser executado</option>
                    <option value="{{ i }}" *ngFor="let equipamento of equipamentos; let i = index">{{ equipamento }}</option>
                </select>

            </div>

            <div class="inputs">
                <label>Data</label>
                <input name="data" type="date" minlength="11" id="data" pInputText [(ngModel)]="data" required autocomplete="bday-day" disabled>
            </div>

            <div class="inputs">
                <label for="sala">Local</label>
                <select name="" id="sala" required>
                    <option value="">Selecione em qual sala deve ser executado</option>
                    <option value="{{ i }}" *ngFor="let sala of local; let i = index">{{ sala }}</option>
                </select>

            </div>

            <div class="inputs">
                <span class="p-float-label">
                    <textarea name="descricao" type="text" minlength="30" maxlength="250" pInputText id="descricao" [(ngModel)]="descricao" autocomplete="new-password"></textarea>
                    <label for="descricao">Digite em breves palavras o problema a ser resolvido</label>
                </span>
            </div>
            <button pButton pRipple type="button" label="Cadastrar" class="p-button-raised "></button>
        </div>
    </form>
</div>