<div class="container">
<h1>Como manter a manutenção?</h1>
<p>Aqui vamos ensinar a como manter a manutenção feita por nossos funcionarios.</p>
<h2>Mantenha limpo</h2>
<p>Primeiro, começaremos pela limpeza. Mantenha sempre limpo sua area de trabalho, teclado, mouse, monitor, gabinete e acessorios. Claro, sempre utilizando produtos especificos para cada componente</p>
  <figure class="figure">
    <img src="../assets/limpeza.jpg" class="img-fluid" alt="Responsive image">
    <figcaption class="figure-caption">Imagem 1 - Limpando o computador</figcaption>
  </figure>
<p>Sempre utilize também, panos especificos para limpeza de eletronicos, e não esqueça de que quando for limpar, verifique se está tudo desligado e tirado da tomada.</p>
<h2>Não coma perto do computador</h2>
<p>Se possivel, tente não comer ou beber proximo de componentes eletronicos, ninguem quer que aconteça um acidente e deixe cair tudo não é mesmo? </p>
<figure class="figure">
    <img src="../assets/comer.jpg" class="img-fluid" alt="Responsive image">
    <figcaption class="figure-caption">Imagem 2 - Comendo perto do computador</figcaption>
  </figure>
  <p></p>
</div>