<div class="p-grid p-fluid">
    <form action="" id="equipamentos"  class="was-validated">
    <h1>Cadastro de novos equipamentos</h1>
        <div class="cadastro">

            <span class="p-float-label">
                <input name="equipamentos" type="text" minlength="3" id="equipamento" pInputText [(ngModel)]="equipamento" required> 
                <label for="inputtext">Escreva o nome do novo equipamento</label>
            </span>
            <button pButton pRipple type="button" label="Cadastrar" class="p-button-rounded"></button>
        </div>
    </form>


</div>

