body {
    background-color: #fff;
    min-height: 100vh;
}

.brand-wrapper {
    padding-top: 7px;
    padding-bottom: 8px;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #b0adad;
    height: 40px;
}

.inputs{
    margin-top: 40px;
}

.login {

    &-section-wrapper {
        display: flex;
        flex-direction: column;
        padding: 68px 13%;
        background-color: #fff;

        @media (max-width: 991px) {
            padding-left: 50px;
            padding-right: 50px;
        }
        @media (max-width: 875px) {
            padding-top: 20px;
            padding-bottom: 20px;
            min-height: 100vh;
        }
    }

    &-wrapper {
        width: 400px;
        max-width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;

        @media (max-width: 675px) {
            width: 100%;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            color: #b0adad;
        }

    }

    &-title{
        text-align: center;
        color: hsla(210, 100%, 45%, 1);
        margin-bottom: 20%;
    }

    &-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: left;
        background-image: linear-gradient(0deg, hsla(234, 57%, 47%, 1) 0%, hsla(210, 100%, 45%, 1) 100%)
    }
}

#login.p-button{
    width: 40%;
    margin-top: 15%;
    background-color:  hsla(210, 100%, 45%, 1);

    &:hover{
        background-color:  #469536;
        transition-duration: 1s;
        border-color: #469536;
    }
}

#cadastro.p-button{
    margin-left: 20%;
    width: 40%;
    margin-top: 15%;
    background-color: white;
    color:  hsla(210, 100%, 45%, 1);
}

