
<body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 login-section-wrapper">
            <div class="login-wrapper my-auto">
              <h1 class="login-title">Bem vindo</h1>
              <form >
                <div class="form-group">
                <div class="inputs">
                    <span class="p-float-label">
                        <input name="user" type="text" minlength="5" id="user" pInputText [(ngModel)]="usuario" required autocomplete="username"> 
                        <label for="user">Digite o usuário</label>
                    </span>
                </div>
                  
                </div>
                <div class="inputs">
                  <span class="p-float-label">
                      <input name="password" type="password" minlength="4" maxlength="16" pPassword id="password" [(ngModel)]="senha" autocomplete="current-password"/>
                      <label for="password">Digite a senha</label>
                  </span>
              </div>
              <button pButton pRipple type="button" (click)="loginSuccess()" id="login" label="Login" class="p-button-rounded button-login" ></button>
              <button pButton pRipple type="button" id="cadastro" (click)="Cadastro()" label="Cadastro" class="p-button-rounded button-cadastro" ></button>
              </form>
            </div>
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <div class="login-img">
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  
